:root {
  --body-background-color: #0A0A0A;
  --body-text-color: #f0f0f0;
  --card-background-color: #171717;
  --nav-background-color: #171717;
  --nav-border-bottom-color: #323232;
  --nav-current-border-bottom-color: #CE3046;
  --card-border-color: #323232;
  --down-border-left-color: #CE3046;
  --down-background-color: rgba(206, 48, 70, 0.15);
  --degraded-border-left-color: #f7b731;
  --up-border-left-color: var(--green);
  --tag-color: #171717;
  --tag-up-background-color: var(--green);
  --tag-down-background-color: #CE3046;
  --tag-degraded-background-color: #f7b731;
  --change-background-color: #f7b731;
  --error-button-border-color: #8a1f2f;
  --error-button-background-color: #CE3046;
  --error-button-color: #ffffff;
  --submit-button-border-color: #8a1f2f;
  --submit-button-background-color: #CE3046;
  --submit-button-color: #ffffff;
  --graph-opacity: 1;
  --graph-filter: none;
}
